body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px 10px;
    max-width: 80%;
    height: 100%;
    border-radius: .5rem;
    background: linear-gradient(
        325deg,
        #03001e 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
}

.container h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.game {   
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.reset-btn {
    padding: 1rem;
    width: 100%;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset-btn:focus {
    color: #ec38bc;
    background-color: #000;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    aspect-ratio: 1.5 / 2;
    border-radius: .5rem;
    font-size: 5em;
    background-color: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: .5rem;
    cursor: pointer;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg)
}